<!DOCTYPE html>
<html>
<head>
    <title>Youtube Reverse History</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

    <div id="youtubeApp">
        <div class="intro" v-if="historyData.length === 0 && !processingFile">
            <h1>Umgekehrter Youtube Verlauf</h1>
            <p>Um den Youtube verlauf in Umgekehrter Reihenfolge zu sortieren, musst du zuerst die Daten zur verfügung stellen.</p>
            <p>Gehe dazu auf <a target="_blank" href="https://takeout.google.com/settings/takeout">Google Takeout</a> und Logge dich mit deinem Account ein.</p>
            <p>Stelle sicher, dass der richtige Account verwendet wird. Bei älteren Accounts ist der Youtube Account separat vom Google Konto.</p>
            <p>Klicke auf "NICHTS AUSWÄHLEN" und aktiviere dann am Ende der Seite den Schalter von Youtube. Danach klicke auf weiter.</p>
            <img src="img/01.jpg"/>
            <p>Im nächsten Bildschirm klicke auf "ARCHIV ERSTELLEN" und warte bis die daten archiviert wurden.</p>
            <p>Als letztes Lade die Daten herunter, entpacke die Datei "\Takeout\YouTube\Verlauf\Wiedergabeverlauf.html" und lade die Datei hier hoch</p>

            <div class="upload">
                <label for="files" class="upload-button">
                    Datei Hochladen
                </label>
                <input id="files" type="file"/>
            </div>
        </div>

        <div class="is-loading" v-if="processingFile">
            <div class="sk-circle">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
            </div>
        </div>

        <div class="statistic" v-if="videoData.length > 0">
            <p>Du hast zwischen dem <i>{{historyData[0].date}}</i> und dem <i>{{historyData[historyData.length - 1].date}}</i> <b>{{historyData.length}}</b> Videos gesehen</p>
        </div>

        <div class="search-block" v-for="item in videoData" v-cloak>
            <a v-bind:href="item.href">
                <img v-bind:src="item.image"/>
                <div class="item-body">
                    <h3>{{item.title}}</h3>
                    <p class="date">{{item.date}}</p>
                    <p class="description">{{item.description}}</p>
                </div>
            </a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="js/axios.min.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/vueApp.js"></script>
</body>

</html>
